$bg_clr: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
$txt_clr: #7439db;
$hvt_clr:#a58dcf;
.container {
  min-width: 650px;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  .inner {
    display: flex;
    gap: 1.8rem;


    .left {
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
      flex: 1;
      .image {
        display: flex;
        flex-direction: column;
        gap: 0.9rem;
        img {
          height: 130px;
          width: 230px;
          object-fit: cover;
          cursor: pointer;
          border-radius: 1rem;
        }
        p {
          font-weight: 500;
          font-size: 0.875rem;
          letter-spacing: 1px;
          text-align: center;
          span {
            font-weight: bold;
            font-size: 0.875rem;
            letter-spacing: 1px;
          }
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
      flex: 1.4;
      .description,
      .project_inputs {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .title {
            font-weight: 500;
            color: #252525;
            font-size: 0.9rem;
          }
          .link {
            color: $txt_clr;
            font-weight: bold;
            font-size: 0.8rem;
            cursor: pointer;
          }
        }
        .ip {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          cursor: pointer;
        }
      }
    }
  }
  h3{
    color: red;
  }
  //footer
  .footer {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    .cancel {
      font-size: 1rem;
      font-weight: 500;
      color: grey;
      transition: 200px;
      &:hover {
        color: #000;
        cursor: pointer;
      }
    }
    button {
      width: max-content;
      padding: 0.9rem 1rem;
      background-color: $txt_clr;
      color: white;
      border: none;
      outline: none;
      font-size: 1rem;
      &:hover {
        background-color: $hvt_clr;
        cursor: pointer;
      }
    }
  }
}
